table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding:0.5rem
}
.hide{
    display: none;
}
.unhide{
    display: inline-block;
}
.container{
    margin: 2rem;
    display: flex;
    justify-content: space-around;
}
.search{
    margin: 1rem;
}
.choose{
    background-color: gold;
}